body {
  background-image: -webkit-gradient(linear, from(#000000), to(#fc0000));
  height: 1000px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
  margin: 0;
}
/*canvas 
{ 
    width: 100%;
    height: 100%;
}*/
#container
{
    position: relative; 
    left: 0; 
    top: 0;
}
#mountains3
{
    position: absolute; 
    top: 0; 
    left: 0; 
    opacity: 0.9; 
    width: 100%;
    z-index: 2;
}
#mountains2
{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.9;
    width: 100%;
    z-index: 4;
}
#mountains1
{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.9;
    width: 100%;
    z-index: 6;
}
#glitch3 {
    opacity: 0.8;
    position: absolute;
    z-index: 1; 
    -webkit-animation-name: move;
    -webkit-animation-duration: 420s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: bottom;
    -webkit-animation-timing-function: linear;
}
#glitch2 {
    opacity: 0.3;
    position: absolute;
    z-index: 3; 
    -webkit-animation-name: move;
    -webkit-animation-duration: 420s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: bottom;
    -webkit-animation-timing-function: linear;
}
#glitch1 {
    opacity: 0.15;
    position: absolute;
    z-index: 5; 
    -webkit-animation-name: move;
    -webkit-animation-duration: 420s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: bottom;
    -webkit-animation-timing-function: linear;
}
@-webkit-keyframes move {
    0% {
        margin-top: 0px;
    }
    100% {
        margin-top: -50000px;
    }
}